@charset "UTF-8";
/* CSS Document */

body {

    background-color: #00527E;

    width: 200px;
    height: 56px;
    
    opacity: 1px;
    top: 362px;
    left: 620px;

}
img{
    background: #6CC1EE;
   
    width: 322px;
    height: 323px;

    opacity: 1px;
    top: 21px;
    left: 559px;
    border-radius: 69px;

    }

  h1{
    text-align: center;
    color: #E9E9E9;
    width: 200px;
    height: 56px;

    opacity: 1px;
    top: 362px;
    left: 620px;

    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;

    }
    button{
        background: #FF6E00;
        border-radius: 8px;
        width: 111px;
        height: 37px;

        opacity: 1px;
        top: 550px;
        left: 595px;

        font-family: Roboto;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;

    
    }

    h2{
        text-align: center;
        color:#E9E9E9;
        width: 400px;
        height: 56px;

        opacity: 1px;
        top: 430px;
        left: 520px;

        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;

    
    }
    p
    {
        text-align: c;
        color:#E9E9E9;
        width: 400px;
        height: 56px;

        opacity: 1px;
        top: 500px;
        left: 520px;

        font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

    
    }
